/*CSS for App.js*/
.header {
    background-color:rgb(28,43,53);
    color:rgb(193,193,193);min-height:50px;
    font-size:20px;
}
.float-left{display:block;float:left;margin-top:10px}
.float-right{display:block;float:right;margin-top:10px}
.btn-success{font-size:15px}
.dropdown-menu {min-width:50px}
ul {width:100%}
.view{color:black;margin: 4px 0}
.view:hover{background-color: black;color:white}
/*End CSS for App.js */

/*CSS for StaffList*/
.card{margin: 2px 0}
h5 {font-size:15px}
.btn-info{background: rgb(5, 5, 46);}
/*End CSS for StaffList */

/*CSS for StaffInfo*/
input {float:right; width: 100px;}
.clearfix{margin:10px 50px 0 0}
.boximage {
    height: 230px;
    border:1px solid black;
    margin:0 40px;
    background-image: linear-gradient(rgb(32,154,194), white);
    text-align: center;
}
.card h4{margin:10px}
.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom: 10px;
    width: 70%;
    height: 170px;
    border: 1px solid black;
    border-radius:50%;
  }
.boxinfo{height:230px}
/*End CSS for StaffInfo*/

