.App-header {text-align: center;}
.card{margin: 2px 0}
input {float:right; width: 100px;}
.boximage {
    height: 230px;
    border:1px solid black;
    margin:0 40px;
    background-image: linear-gradient(rgb(32,154,194), white);
    text-align: center;
}
.card h4{margin:10px}
.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom: 10px;
    width: 70%;
    height: 170px;
    border: 1px solid black;
    border-radius:50%;
  }
.clearfix{margin:10px 50px 0 0}